<h1>Welcome to CSE Motors!</h1>
<section class="container showcase">
    <div id="features">
        <ul>
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button class="btn">Own Today</button>
    </div>
    <img src="" alt="" id="delorean">
</section>
<section class="container ">
    <article>
        <h3>Delorean Upgrades</h3>
        <div>
            <figure>
                <img src="" alt="">
                <figcaption>Flux Capacitor</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>Flame Decals</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>Bumpber Stickers</figcaption>
            </figure>
            <figure>
                <img src="" alt="">
                <figcaption>Hub Caps</figcaption>
            </figure>
        </div>
    </article>
</section>