<div class="large-window container">
    <h1 class="primary-text">Welcome to CSE Motors!</h1>
    <section class="container showcase">
        <div id="features">
            <h3 class="secondary-text">DMC Delorean</h3>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button class="btn">Own Today</button>
        </div>
        <img src="/images/vehicles/delorean-tn.jpg" alt="Delorean" id="delorean">
        <img src="/images/vehicles/delorean.jpg" alt="Delorean" id="delorean-large">
    </section>
    <section>
        <article id="reviews">
            <h3 class="seondary-text">DMC Delorean Reviews</h3>
            <ul> 
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </article>
        <article id="upgrades">
            <h3 class="seondary-text">Delorean Upgrades</h3>
            <div id="upgrade-container">
                <figure>
                    <div class="img-container">
                        <img src="/images/upgrades/flux-cap.png" alt="flux capacior">
                    </div>
                    <figcaption>Flux Capacitor</figcaption>
                </figure>
                <figure>
                    <div class="img-container">
                        <img src="/images/upgrades/flame.jpg" alt="flame decal">
                    </div>
                    <figcaption>Flame Decals</figcaption>
                </figure>
                <figure>
                    <div class="img-container">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                    </div>
                    <figcaption>Bumpber Stickers</figcaption>
                </figure>
                <figure>
                    <div class="img-container">
                        <img src="/images/upgrades/hub-cap.jpg" alt="hub cap">
                    </div>
                    <figcaption>Hub Caps</figcaption>
                </figure>
            </div>
        </article>
    </section>
</div>