/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* variables */
:root {
  --primary-color: #02b0d4;
  --secondary-color: white;
  --shadow-color: #b5958c90;
  --nav: #242332;
  --text-color: #020202;
  --captions: #5256fc;
}

/* global */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
  border: none;
}

body {
  position: relative;
}

li {
  font-size: 1.2rem;
}

/* utilities */
.container {
  padding: 10px;
}

.btn {
  font-weight: bold;
  padding: 15px;
  margin: 10px;
  box-shadow: 2px 2px 2px var(--shadow-color);
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--captions);
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.primary-text {
  font-size: 2rem;
  font-weight: bold;
}

.secondary-text {
  font-size: 1.8rem;
  font-weight: bold;
}

/* header */
#top-header {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

#tools:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* navbar */
nav {
  background-color: var(--nav);
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

nav ul li {
  color: var(--secondary-color);
  font-size: 1.2rem;
}

nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* footer */
footer {
  padding: 10px;
}

/* main */
/* showcase */
/* features */
#features {
  background-color: #ffffff90;
  width: fit-content;
  padding: 7px;
  position: absolute;
}

#features h3, #features li {
  color: var(--primary-color);
  text-shadow: 1px 1px 1px var(--shadow-color);
}

#features button {
  display: flex;
  justify-self: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  font-size: 1.2rem;
}

#delorean {
  width: 90%;
  margin-top: 90px;
  display: flex;
  justify-self: end;
}

#delorean-large {
  display: none;
}

/* reviews */
#reviews {
  line-height: 1.5rem;
  padding: 5px 15px;
}

#reviews li {
  list-style-type: disc;
  font-size: 1rem;
}

/* upgrades */
#upgrades {
  margin-top: 10px;
  padding: 5px 15px;
}

#upgrade-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  text-align: center;
  padding: 10px 5px;
}

#upgrade-container figure {
  width: 90%;
  height: 95%;
  margin: 5px;
}

#upgrade-container .img-container {
  width: 100%;
  background-color: var(--primary-color);
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upgrade-container figure figcaption {
  color: blue;
  text-decoration: underline;
}
